<a class="skip-link" href="#main-content">Skip to main content</a>
<nav class="navbar navbar-expand-lg site-header">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="{{ site.Home.RelPermalink }}">
      {{- with resources.Get "images/umsi_sig_INFORMAL_maize-blue.png" }}
        <img class="site-header__logo" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="University of Michigan School of Information">
      {{- end }}
      <span class="site-header__title">{{ site.Title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-nav">
      {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </div>
  </div>
</nav>
